@using System.Globalization;
@using RealEstateWebApi.WebApp.Tools;

@{
    ViewData["Title"] = "Home";
}
@model IEnumerable<CustomerDto>



<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Müşteri</h5>
                            <div class="d-flex align-items-center">

                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <a href="/customer/add"><i class="bi bi-plus-lg"></i></a>
                                </div>
                                <div class="ps-3">
                                    <a href="/customer/add"><h6>Ekle</h6></a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">


                        <div class="card-body">
                            <h5 class="card-title">Müşteri</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <a href="/customer"><i class="bi bi-list"></i></a>
                                </div>
                                <div class="ps-3">
                                    <a href="/customer"><h6>Listele</h6></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            @* <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>*@
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Müşteriler <span>| Tümü</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewData["CustomerCount"]</h6>
                                    @*<span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>*@
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Son Eklenen Müşteriler <span>| Bugün</span></h5>

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ad/Soyad</th>
                                        <th scope="col">Adres</th>
                                        <th scope="col">Telefon</th>
                                        <th scope="col">Durumu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row"><a href="/customer/@item.Id">@item.Id</a></th>
                                            <td><a href="/customer/@item.Id" class="text-primary">@item.FullName</a></td>
                                            <td>@item.City/@item.District</td>
                                            <td>@item.MobileNumber</td>
                                            <td>
                                                @if (item.IsActive)
                                                {
                                                    <span class="badge bg-success">Aktif</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-warning">Beklemede</span>
                                                }
                                                <span class="badge bg-secondary">@item.Status</span>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->


            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
                <div class="card">
                    @*<div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>*@

                    <div class="card-body">
                        <h5 class="card-title">Bugün ne yaptın? <span>| Today</span></h5>

                        <div class="activity">

                            <div class="activity-item d-flex">
                                @*<div class="activite-label">Bugün</div>*@
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    @ViewData["EntryCount"] adet görüşme gerçekleştirdin.
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                @*<div class="activite-label">Bugün</div>*@
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    @ViewData["RecentCustomerCount"] adet müşteri kayıt ettin.
                                </div>
                            </div><!-- End activity item-->

                            <!--<div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    Voluptates corrupti molestias voluptatem
                                </div>
                            </div>--><!-- End activity item-->

                            <!--<div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                                </div>
                            </div>--><!-- End activity item-->

                            <!--<div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    Est sit eum reiciendis exercitationem
                                </div>
                            </div>--><!-- End activity item-->

                            <!--<div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                </div>
                            </div>--><!-- End activity item-->

                        </div>

                    </div>
                </div><!-- End Recent Activity -->
            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Bugün</a></li>
                        <li><a class="dropdown-item" href="#">Bu Hafta</a></li>
                        <li><a class="dropdown-item" href="#">Bu Ay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Hatırlatmalar <span>| All</span></h5>

                    <div class="news">
                        @if ((ViewBag.reminders as IEnumerable<Reminder>).Count() == 0)
                        {
                            <p>Hatırlatılacak bi şey yok</p>

                        }
                        @foreach (var item in ViewBag.reminders as IEnumerable<Reminder>)
                        {


                            <div class="post-item clearfix">
                                @if (DateTime.UtcNow.Date > item.ReminderDate.Date)
                                {
                                    <h6 class="text-danger">@item.ReminderDate.ToString("dd-MM-yyyy dddd", CultureInfo.CreateSpecificCulture("tr-TR"))</h6>
                                }
                                else if (DateTime.UtcNow.Date == item.ReminderDate.Date)
                                {
                                    <h6 class="text-success">@item.ReminderDate.ToString("dd-MM-yyyy dddd", CultureInfo.CreateSpecificCulture("tr-TR"))</h6>

                                }
                                else
                                {
                                    <h6>@item.ReminderDate.ToString("dd-MM-yyyy dddd", CultureInfo.CreateSpecificCulture("tr-TR"))</h6>
                                }

                                <a asp-controller="Customer" asp-action="ReminderCheck" asp-route-reminderId="@item.Id" class="btn btn-lg reminderBtn"><i class="bi bi-check2-circle"></i></a>
                                <h4><a href="/customer/@item.CustomerId">@item.CustomerName</a></h4>
                                <p>@item.Description</p>
                            </div>
                        }



                    </div><!-- End sidebar recent posts-->
                    <p class="fw-lighter">*Tarihi geçen hatırlatmalar kırmızı ile görüntülenmektedir.</p>
                </div>
            </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </div>
</section>



