@model CustomerOwnedProperty

<script type="text/javascript">
    $(function () {
        $("#inputCity2").change(function () {
            var val = $(this).val();
            console.log("City : " + val)
            var subItems = "";
            $.get("@Url.Action("SelectItemDistrict","Customer")", { cityId: val }, function (data, status) {
                $.each(data, function (index, item) {
                    subItems += "<option value='" + item.value + "'>" + item.text + "</option>"
                });
                $("#inputDistrict2").html(subItems)
            });
        });
        $("#inputDistrict2").change(function () {
            var val = $(this).val();
            console.log("District : " + val)
            var subItems = "<option selected>Seçiniz...</option>";
            $.get("@Url.Action("SelectItemNeighborhood","Customer")", { districtId: val }, function (data, status) {
                $.each(data, function (index, item) {
                    subItems += "<option value='" + item.value + "'>" + item.text + "</option>"
                });
                $("#inputNeighborhood2").html(subItems)
            });
        });
        $("#inputNeighborhood2").change(function () {
            var val = $(this).val();
            console.log("Neighborhood : " + val)
            var subItems = "<option selected>Seçiniz...</option>";
            $.get("@Url.Action("SelectItemStreet","Customer")", { neighborhoodId: val }, function (data, status) {
                $.each(data, function (index, item) {
                    subItems += "<option value='" + item.value + "'>" + item.text + "</option>"
                });
                $("#inputStreet2").html(subItems)
            });
        });

    });


</script>


<!-- CustomerOwnedProperty Add -->
<div class="modal fade" id="ownedPropertyModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title">Sahip Olduğu Mülk Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" asp-action="OwnedPropertyAdd" method="post">
                <div class="modal-body">
                    <input asp-for="CustomerId" value="@Model.CustomerId" hidden />
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tipi</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("PropertyTypeId",(IEnumerable<SelectListItem>)ViewData["PropertyTypes"]!,"Seçiniz...",new {@class="form-select",@required=""})
                            @*<select class="form-select" asp-for="PropertyTypeId" asp-items="@ViewData["PropertyTypes"] as IEnumerable<SelectListItem>" required>
                                <option selected disabled>Seçiniz...</option>
                            </select>*@
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Statüsü</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("PropertyStatusId",(IEnumerable<SelectListItem>)ViewData["PropertyStatuses"]!,"Seçiniz...",new {@class="form-select",@required=""})
                            @*<select class="form-select" asp-for="PropertyStatusId" asp-items="@ViewData["PropertyStatuses"] as IEnumerable<SelectListItem>" required>
                                <option selected disabled>Seçiniz...</option>
                            </select>*@
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputCity2" class="col-sm-2 form-label">Şehir</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("CityId",(IEnumerable<SelectListItem>)ViewData["Cities"]!,"Seçiniz...",new {@class="form-select",@id="inputCity2",@required=""})
                            @*<select asp-for="CityId" asp-items="@ViewData["Cities"] as IEnumerable<SelectListItem>" class="form-select" id="inputCity2" required>
                                <option selected disabled>Seçiniz...</option>
                            </select>*@
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDistrict2" class="col-sm-2 form-label">İlçe</label>
                        <div class="col-sm-10">
                            <select asp-for="DistrictId" class="form-select" id="inputDistrict2">
                                <option selected disabled>Seçiniz...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputNeighborhood2" class="col-sm-2 form-label">Mahalle</label>
                        <div class="col-sm-10">
                            <select asp-for="NeighborhoodId" class="form-select" id="inputNeighborhood2">
                                <option selected>Seçiniz...</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputStreet2" class="col-sm-2 form-label">Cadde/Sokak</label>
                        <div class="col-sm-10">
                            <select asp-for="StreetId" class="form-select" id="inputStreet2">
                                <option selected>Seçiniz...</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputRooms" class="col-sm-2 form-label">Oda Sayısı</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" asp-for="RoomCount" placeholder="Oda">
                                <span class="input-group-text">+</span>
                                <input type="number" class="form-control" asp-for="LivingRoomCount" placeholder="Salon">
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Fiyat</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" asp-for="Price" placeholder="Fiyat" required>
                                <span class="input-group-text">₺</span>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDescription" class="col-sm-2 col-form-label">Açıklama</label>
                        <div class="col-sm-10">
                            <textarea asp-for="Description" class="form-control" style="height: 100px" required></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPropertyId" class="col-sm-2 col-form-label">Mülk Id</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for="PropertyId" >
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputShLink" class="col-sm-2 col-form-label">Sahibinden</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for="ShLink" >
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEjLink" class="col-sm-2 col-form-label">Emlakjet</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for="EjLink" >
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputHeLink" class="col-sm-2 col-form-label">Hepsiemlak</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for="HeLink">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputOtherLink" class="col-sm-2 col-form-label">Diğer Link</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for="OtherLink">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>

            </form>
        </div>
    </div>
</div><!-- End CustmerOwnerdProperty add -->
