@using System.Security.Claims
@{
    ViewData["Title"] = "Profile";
}
@model User


<div class="pagetitle">
    <h1>Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="@Model.ProfileImgFilePath" alt="Profile" class="rounded-circle">
                    <h2>@Model.FirstName @Model.LastName</h2>
                    <h3>@Context.User.Claims.FirstOrDefault(e=>e.Type == ClaimTypes.Role)?.Value</h3>
                    @*<div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>*@
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Özet</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Düzenle</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Şifre Değiştir</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                           
                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Tam Adı</div>
                                <div class="col-lg-9 col-md-8">@Model.FirstName @Model.LastName</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Vatandaşlık Numarası</div>
                                <div class="col-lg-9 col-md-8">@Model.CitizenNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.Email</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Cep Telefonu</div>
                                <div class="col-lg-9 col-md-8">@Model.MobileNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Sabit Telefon</div>
                                <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Doğum Tarihi</div>
                                <div class="col-lg-9 col-md-8">@Model.BirthDate</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Kayıt Tarihi</div>
                                <div class="col-lg-9 col-md-8">@Model.CreatedDate.ToLocalTime()</div>
                            </div>

                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <form>
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                    <div class="col-md-8 col-lg-9">
                                        <img src="@Model.ProfileImgFilePath" alt="Profile">
                                        <div class="pt-2">
                                            <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                            <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="firstName" class="col-md-4 col-lg-3 col-form-label">Adı - Soyadı</label>
                                    <div class="col-md-4 col-lg-4">
                                        <input asp-for="FirstName" name="firstName" type="text" class="form-control" id="firstName" value="@Model.FirstName">
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <input asp-for="LastName" name="lastName" type="text" class="form-control" id="lastName" value="@Model.LastName">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="citizenNumber" class="col-md-4 col-lg-3 col-form-label">Vatandaşlık Numarası</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="CitizenNumber" name="citizenNumber" type="text" class="form-control" id="citizenNumber" value="@Model.CitizenNumber">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="Email" name="email" type="email" class="form-control" id="email" value="@Model.Email" readonly>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="mobileNumber" class="col-md-4 col-lg-3 col-form-label">Cep Telefonu</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="MobileNumber" name="mobileNumber" type="text" class="form-control" id="mobileNumber" value="@Model.MobileNumber">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="phoneNumber" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="PhoneNumber" name="phoneNumber" type="text" class="form-control" id="phoneNumber" value="@Model.PhoneNumber">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="birthDate" class="col-md-4 col-lg-3 col-form-label">Doğun Tarihi</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="BirthDate" name="birthDate" type="date" class="form-control" id="birthDate" value="@Model.BirthDate">
                                    </div>
                                </div>

                                

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form>

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="password" type="password" class="form-control" id="currentPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>