@using System.Security.Claims
@{
    ViewData["Title"] = "Profile";
}
@model User


<div class="pagetitle">
    <h1>Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="@Model.ProfileImgFilePath" alt="Profile" class="rounded-circle">
                    <h2>@Model.FirstName @Model.LastName</h2>
                    <h3>@Context.User.Claims.FirstOrDefault(e=>e.Type == ClaimTypes.Role)?.Value</h3>
                    @*<div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>*@
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Özet</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Düzenle</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Şifre Değiştir</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">

                            <h5 class="card-title">Profil Detayları</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Tam Adı</div>
                                <div class="col-lg-9 col-md-8">@Model.FirstName @Model.LastName</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Vatandaşlık Numarası</div>
                                <div class="col-lg-9 col-md-8">@Model.CitizenNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.Email</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Cep Telefonu</div>
                                <div class="col-lg-9 col-md-8">@Model.MobileNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Sabit Telefon</div>
                                <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Doğum Tarihi</div>
                                <div class="col-lg-9 col-md-8">@Model.BirthDate.GetValueOrDefault().ToString("dd/MM/yyyy")</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Kayıt Tarihi</div>
                                <div class="col-lg-9 col-md-8">@Model.CreatedDate.ToString("dd/MM/yyyy HH:dd")</div>
                            </div>

                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            @{
                                
                                await Html.RenderPartialAsync("~/Views/User/_ProfileEditForm.cshtml", Model);
                            }
                            

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            @{
                                var changePass = new ChangePasswordUser() { UserId = Model.Id };

                                await Html.RenderPartialAsync("~/Views/User/_ChangePasswordForm.cshtml", changePass);
                            }

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>