@model CustomerFilter

<script type="text/javascript">
    $(function () {

        var cityIdVal = $("#inputCity").val();
        var districtIdVal = $("#inputDistrict").val();
        var neighborhoodIdVal = $("#inputNeighborhood").val();
        if (cityIdVal) {
        
            $.get("@Url.Action("SelectItemDistrict","Customer")", { cityId: cityIdVal }, function (data, status) {
                var dSubItems = "<option value='' selected>İlçe...</option>";
                $.each(data, function (index, item) {
                    dSubItems += "<option value='" + item.value + "'>" + item.text + "</option>"
                });
                $("#inputDistrict").html(dSubItems);
            }).done(function () {
                var nSubItems = "<option value='' selected>Mahalle...</option>";
                $.get("@Url.Action("SelectItemNeighborhood","Customer")", { districtId: districtIdVal }, function (data, status) {
                    $.each(data, function (index, item) {
                        nSubItems += "<option value='" + item.value + "'>" + item.text + "</option>"
                    });
                    $("#inputNeighborhood").html(nSubItems)
                });
            });
        }

        $("#inputCity").change(function () {
            var val = $(this).val();
            //console.log("City : " + val)
            var subItems = "<option value='' selected>İlçe...</option>";
            $.get("@Url.Action("SelectItemDistrict", "Customer")", { cityId: val }, function (data, status) {
                $.each(data, function (index, item) {
                    subItems += "<option value='" + item.value + "'>" + item.text + "</option>"
                });
                $("#inputDistrict").html(subItems)
            });
        });
        $("#inputDistrict").change(function () {
            var val = $(this).val();
            //console.log("District : " + val)
            var subItems = "<option value='' selected>Mahalle...</option>";
            $.get("@Url.Action("SelectItemNeighborhood", "Customer")", { districtId: val }, function (data, status) {
                $.each(data, function (index, item) {
                    subItems += "<option value='" + item.value + "'>" + item.text + "</option>"
                });
                $("#inputNeighborhood").html(subItems)
            });
        });

    });
</script>


<!-- Filter form -->
<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <a  class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#customer-filter-area" aria-controls="customer-filter-area" >
                    
                    <h5 class="card-title">Ara</h5><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <div class="collapse show" id="customer-filter-area">
                <!-- Custom Styled Validation -->
                <form asp-controller="Customer" asp-action="Index" method="get">
                    <div class="row g-3">
                        <div class="col-md-1">
                            <input asp-for="Id" class="form-control" id="inputId" placeholder="Id"/>
                        </div>
                        <div class="col-md-3">
                            <input asp-for="FullName" class="form-control" id="inputFullName" placeholder="Ad Soyad"/>
                        </div>

                        <div class="col-md-2">
                            @Html.DropDownList("CityId", (IEnumerable<SelectListItem>)ViewData["Cities"]!, "Şehir", new
                            {
                                @class = "form-select",
                                @id = "inputCity"
                            })

                        </div>
                        <div class="col-md-2">
                            <select asp-for="DistrictId" class="form-select" id="inputDistrict">
                                <option value="" selected>İlçe</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select asp-for="NeighborhoodId" class="form-select" id="inputNeighborhood">
                                <option value="" selected>Mahalle</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input asp-for="MobileNumber" class="form-control" id="inputMobile"
                                   placeholder="Telefon numarası"/>
                        </div>


                        <div class="col-md-2">
                            @Html.DropDownList("RegisterUserId", (IEnumerable<SelectListItem>)ViewData["UserNameList"]!, "Kayıt Eden..", new
                            {
                                @class = "form-select",
                                @id = "inputRegisterUser"
                            })

                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList("AssignedUserId", (IEnumerable<SelectListItem>)ViewData["UserNameList"]!, "Yetkilisi..", new
                            {
                                @class = "form-select",
                                @id = "inputAssignedUser"
                            })

                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList("Statuskey", (IEnumerable<SelectListItem>)ViewData["StatusKey"]!, "Durumu..", new
                            {
                                @class = "form-select",
                                @id = "inputStatusKey"
                            })

                        </div>




                        <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary me-md-2" type="submit">Ara</button>
                            <a class="btn btn-outline-success" asp-action="Index">Temizle</a>
                        </div>
                    </div>
                </form>
</div>
            </div>
        </div>

    </div>
</div>
