@{
    ViewData["Title"] = "Müşteri Detayı";
}
@model Tuple<Customer,IEnumerable<Entry>>




<div class="pagetitle">
    <h1>Müşteri Detayı</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item">Müşteriler</li>
            <li class="breadcrumb-item active">@Model.Item1.FullName</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class=card-body>
                    <h3 class="card-title">@Model.Item1.FullName - @Model.Item1.Id - @Model.Item1.AssignedUserId </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Müşteri Detay</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Nationality Id:</strong>
                            @Model.Item1.CitizenNumber
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Adı:</strong>
                            @Model.Item1.FirstName
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Soy Adı:</strong>
                            @Model.Item1.LastName
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Doğum Tarihi:</strong>
                            @Model.Item1.BirthDay
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Cep Telefonu:</strong>
                            İlk: @Model.Item1.MobileNumber / İkinci: @Model.Item1.MobileNumber2
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Sabit Telefonu:</strong>
                            İlk:@Model.Item1.PhoneNumber / İkinci:@Model.Item1.PhoneNumber2
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Adres:</strong>
                            @Model.Item1.CityId ili,@Model.Item1.DistrictId ilçesi,@Model.Item1.NeighborhoodId mahallesi
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Kayıt:</strong>
                            Kayıt Eden: @Model.Item1.RegisterUserId /Atanan : @Model.Item1.AssignedUserId
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Hareketler</h5>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                            data-bs-target="#basicModal"><i class="bi bi-plus-lg"></i></button>
                        @{
                            var entry = new Entry()
                            {
                                CustomerId = @Model.Item1.Id,
                            };
                            await Html.RenderPartialAsync("~/Views/Customer/Modal/_EntryAddModal.cshtml", entry);
                        }

                    </div>


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col-3">#</th>
                                <th scope="col-6">İçerik</th>
                                <th scope="col-2">Kullanıcı</th>
                                <th scope="col-1">Tarih</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item2)
                            {
                                
                                <tr>
                                    <th scope="row">
                                        @item.EntryTypeId > @item.EntrySubTypeId > @item.EntrySubTitle

                                    </th>
                                    <td>@item.Content</td>
                                    <td>@item.UserId</td>
                                    <td>@item.CreatedDate</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
