@using RealEstateWebApi.WebApp.Tools;
@{
    ViewData["Title"] = "Tüm Müşteriler";
}

@model IEnumerable<CustomerDto>


<div class="pagetitle">
    <h1>Tüm Müşteriler</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item active"><a href="/customer">Müşteriler</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    
    @{await Html.RenderPartialAsync("~/Views/Customer/_CustomerFilterForm.cshtml",new CustomerFilter());}
    <!--Table Area-->
    <div class="row">
        <div class="col-lg-12">

            <div class="card overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Müşteriler</h5>

                    <!-- Table with stripped rows -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">İsim</th>
                                <th scope="col">Durumu</th>
                                <th scope="col">İl</th>
                                <th scope="col">İlçe</th>
                                <th scope="col">Kayıt Yapan</th>
                                <th scope="col">Yetkilisi</th>
                                <th scope="col">Oluşturma Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td><a href="/customer/@item.Id">@item.FullName</a> </td>
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <span class="badge bg-success">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Deaktif</span>
                                        }

                                        @if (item.StatusKey == "YENI")
                                        {


                                            <span class="badge bg-danger">Yeni</span>

                                        }else if (item.StatusKey == "ULSLMD"){
                                            <span class="badge bg-danger">Ulaşılamadı</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-secondary">@item.Status</span>
                                        }


                                    </td>
                                    <td>@item.City</td>
                                    <td>@item.District</td>
                                    <td>@item.RegisterUser</td>
                                    <td>@item.AssignedUser</td>
                                    <td>@item.CreatedDate.UtcToLocalTR().ToString("dd-MM-yyyy HH:mm")</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
                <div class="card-footer">
                    <nav class="pagination-a d-flex justify-content-end">
                        <ul class="pagination  flex-wrap">
                            
                            @{
                                int totalPage = Convert.ToInt32(ViewData["totalPage"]);
                                int page = Convert.ToInt32(ViewData["page"]);
                                string filterqueryhref (int index) => "/customer" + ViewData["filterquery"] + "&pageIndex=" + index;

                                if (page != 0)
                                {
                                    <li class="page-item prev">
                                        <a class="page-link" href="@filterqueryhref(page-1)" tabindex="-1">
                                            <span class="bi bi-chevron-left"></span>
                                        </a>
                                    </li>
                                }

                                for (var i = 0; i < totalPage; i++)
                                {

                                    int a = i + 1;
                                    string classText = "page-item " + (page == i ? "active" : "");

                                    <li class="@classText">
                                        <a class="page-link" href="@filterqueryhref(i)">@a</a>

                                    </li>
                                }


                                if (totalPage - 1 > page)
                                {
                                    <li class="page-item next">
                                        <a class="page-link" href="@filterqueryhref(page+1)">
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</section>